<!DOCTYPE html>
<html lang = "en" dir ="ltr">
    <head>
        <meta charset="utf-8">
        <title>My Database</title>
        <link rel="stylesheet" href="./stylesheets/style.css">
    </head>
    <body>
        <div class ="div1">
            <h1>
                Person
            </h1>
            <p>Database to store information about people </p>
            <nav class="nav1">
                <a href = "./mydatabase.html" ><button class = "navbutton">Home</button></a> |
                <a href = "https://www.github.com"><button class = "navbutton">Github</button></a> |  
                <a href = "https://www2.cs.sfu.ca/CourseCentral/276/bobbyc/a/asn2.pdf"><button class ="navbutton">About</button></a>
            </nav>
        </div>
        </body>
        </html>
        